nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo a {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
    .nav-links {
        display: none;
    }

    .nav-links li {
        text-align: center;
        margin: 15px 0;
    }

    .burger {
        display: block;
    }
}
