body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 1920px;
    align-items: center;
    flex-direction: column;
    background-color: #686767;
  }


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease;
  background-color: white;
  z-index: 100;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu li:first-child {
    margin-left: 0;
  }
  
  .menu a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
  }

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.menu a.active {
  font-weight: bold;
}

  
  .section1 {
    width: 100%;
    position: relative;
    background-image: url(images/section1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .slider-container {
    max-width: 1110px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slide {
    position: relative;
    width: 1110px;
    height: 500px;
    display: none;
  }
  
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slide-content {
    max-width: 600px;
    margin-top: 150px;
    color: #fff;
  }
  
  .slide-content h2 {
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .presentation-button {
    width: 270px;
    padding: 15px 0 17px 0;
    display: inline-block;
    background-color: #005FA3;
    color: #fff;
    text-decoration: none;
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
  
  .slider-controls {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  .circle-nav {
    display: flex;
    gap: 50px;
  }
  
  .circle {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .circle.active {
    background-color: #005FA3;
  }
  
  .arrow-nav {
    display: flex;
  }
  

.arrow {
    align-items: center;
    cursor: pointer;
    padding: 20px;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.1);
  }

.arrow.prev {
    background-image: url(/images/prev.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow.next {
    background-image: url(/images/next.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
  
  
  /* Section 2 */


.section2 {
    background-color: #EBEBEB;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  .container {
    max-width: 1110px;
    margin: 100px 0 100px 0;
  }

h2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #BDBDBD;
  }
  
  .specialization {
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
  }
  
  .service-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-link {
    width: 350px;
    margin-bottom: 20px;
    width: fit-content; 
    position: relative;
    cursor: pointer;
}

.image-container {
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: opacity 0.3s ease;
    background-image: url(./images/service1.png);
}

.service-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 102, 224, 0);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.service-link:hover::before {
    background-color: rgba(2, 102, 224, 0.4);
}

.text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/*Section 3*/

.section3 {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.about-container {
  width: 1110px;
  margin: 100px 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-text {
  width: 50%;
}

.about {
  margin-top: 0;
  margin-bottom: 50px;
}

.company1 {
  font-family: 'Merriweather', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}

.company2 {
  font-family: 'Merriweather', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #005FA3;
}

.company3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;  
  color: #000000;
  padding-right: 70px;
  padding-top: 70px;
}


.case-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}


.cases {
  background-color: #EBEBEB;
  width: 255px;
  margin: 0 0 20px 20px;
  text-align: left;
  transition: background-color 0.3s;
}

.cases:hover {
  background-color: #0074d9;
}

.number {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: black;
  margin: 30px;
}

.text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: black;
  margin-left: 30px;
}

.link {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #0074d9;
  display: block;
  margin-top: 50px;
  margin: 50px 0 30px 30px;
  transition: color 0.3s;
}

.cases:hover .number,
.cases:hover .text,
.cases:hover .link {
  color: #ffffff;
}
